

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row
}

.video_feed{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.result{ 
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#profile_image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas{
  display: flex;
  width: 100px;
  height: 100px;
}

.canvas_wrapper {
  width: 100px;
  height: 100px;
}

.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column
}

.main_admin {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column
}
.main_add {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column
}

.form {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.side{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column
}

#outlined-basic {
  width: 300px;
}

.body_admin{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row
}